.appLight{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 85%;
    height: auto;
    margin: 15rem 10rem;
}
.appDark{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 85%;
    height: auto;
    margin: 15rem 10rem;
}