.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --1st-color: linear-gradient(#ee4d2d,#ff7337);
  --2nd-color: #ee4d2d;
  /* Biến cho theme light */
  --background-color-light: #fff;
  --text-color-light: #333;

  /* Biến cho theme dark */
  --background-color-dark: #121212;
  --text-color-dark: #fff;
}
#light{
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}
#dark{
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

/* Top-container */
.top-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--2nd-color);
  padding: 1rem 1rem;
}
.top-container p{
  font-size: 16px;
  color:#ee4d2d;
  font-weight: 700;
  margin: .5rem .5rem;
}
.top-container p:hover{
  color: #ec7057;
  cursor: pointer;
}

.left-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Header */
.header-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 2px solid red;
  width: 100%;
  background: var(--1st-color);
}
.header-wrapper .logo{
  padding: 0 2rem;
}
.search-wrapper {
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cart-logo{
  font-size: 20px;
  margin-right: 2px;
}
/* Cart */
.cart{
  cursor: pointer;
}
.cart span:nth-child(1){
  font-size: 2rem;
  color: #fff;
}
.card span:nth-child(2){
  padding: 0 3px;
  background-color: var(--2nd-color);
  color:white;
  font-weight: bold;
  position: relative;
  top: -15px;
}

/* Quantity change */
.quantity-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quantity-change{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;;
}
.quantity-btn{
  margin: 0 2px;
  cursor: pointer;
}
.current-quantity{
  margin-bottom:2rem;
}

/* Product-list-wrapper */
.main-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.product-list-wrapper{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
}
.product-items-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.products{
  border: 5px solid black;
  background-color: #ec7057;
  border-radius: 5px;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center; 
  margin: 0 1rem;
  padding: 10px;
  height: 50%;
}
.products p{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.product-font{
  color: rgba(0,0,0,.87);
  font-size: 16px; 
  flex-wrap: wrap;
  font-weight: bold;
}
.product-list-wrapper img{
  width: 12rem;
  height: 12rem;
}

/* Cart-items*/
.cart-items-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--1st-color);
  margin-top: 2rem;
}
.cart-wrapper{
  display: grid;
  grid-column: 1/span 3;
  grid-template-columns: auto;
  grid-row: 1/span 2;
  grid-template-rows: auto; 
}
.cart-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
  margin-top: 10px;
  background-color: #fff;
}
.col-1{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  color: black;
}
.col-2{
  margin: 2px 2px;
}
 
.col-3{
  color: black;
  font-weight: 300;
}
.cart-btn button {
  width: 100%;
  padding: .5rem;
  font-size: 20px;
  margin-bottom: 1rem;
  background-color: #ec7057;
  border-radius: 5px;
}